<% include partials/header.ejs %>
<h1>Posts</h1>
<ul>
    <% for (var i = 0; i < posts.length; i++) { %>
        <li><b><%= posts[i].title %></b> by <%= posts[i].author %></li>
    <% } %>
</ul>

<form action="/posts/add" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">

    <label for="title">Title:</label>
    <input type="text" id="title" name="title">

    <button type="submit">Add</button>
</form>

<% include partials/footer.ejs %>