    <div>&nbsp;</div>

    <script src="/lib/js/jquery-3.3.1.min.js"></script>
    <script src="/lib/js/bootstrap.min.js"></script>
    <script src="/lib/js/fontawesome-all.min.js"></script>
</body>
</html>