<h1>Login</h1>
<form action="/login" method="post">
    Username: <input type="text" placeholder="username" name="username"><br>
    Password: <input type="password" placeholder="password" name="password"><br>
    <button>Submit</button>
</form>